베타는 통계의 회귀분석모형에서 기울기를 나타내는 베타와 의미가 같음
y = a + bx / b는 x의 변화에 따른 y의 변화의 기울기
이를 주식에 적용한게 자산가격결정모형 CAPM

CAPM = Ri = Rf + Bi * [Rm-Rf] -> 개별 주식의 수익률 Ri = 무위험수익률 + (시장수익률-무위험수익률)*개별주식의 베타

In [1]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl

tickers = ['^KS11','039490.KS']

all_data = {}
for ticker in tickers :
    all_data = yf.download(ticker,
                          start = '2020-01-01',
                          end ='2023-06-29')

prices = pd.DataFrame({tic : data['Close'] for tic, data in all_data.items()})
ret = prices.pct_change().dropna()

In [54]:
tickers = ['^KS11','247540.KQ'] # 코스피 지수(^KS11)과 종목번호 039490을 불러옴 / 한국 종목은 종목번호 뒤에 KS 또는 KQ 붙여줘야함

# all_data = {} 
# for ticker in tickers : 
#     all_data = yf.download(ticker, start = '2020-01-01', end ='2023-06-29')  #주가 다운로드

# prices = pd.DataFrame({tic : data[''] for tic, data in all_data.items()}) #종가를 데이터 프레임으로 전환 후 수익률 계산
# ret = prices.pct_change().dropna() # price.pct_change -> price에 대한 수익률을 계산 / 맨 앞은 nan이 뜨니까 dropna로 삭제

all_data = {}
for ticker in tickers:
    all_data[ticker] = yf.download(ticker ,'2020-01-01')
prices = pd.DataFrame({tic: data['Close']for tic, data in all_data.items() })
ret = prices.pct_change().dropna()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [55]:
all_data

{'^KS11':                    Open         High          Low        Close    Adj Close  \
 Date
 2020-01-02  2201.209961  2202.320068  2171.840088  2175.169922  2175.169922
 2020-01-03  2192.580078  2203.379883  2165.389893  2176.459961  2176.459961
 2020-01-06  2154.969971  2164.419922  2149.949951  2155.070068  2155.070068
 2020-01-07  2166.600098  2181.620117  2164.270020  2175.540039  2175.540039
 2020-01-08  2156.270020  2162.320068  2137.719971  2151.310059  2151.310059
 ...                 ...          ...          ...          ...          ...
 2023-06-23  2599.040039  2600.810059  2568.070068  2570.100098  2570.100098
 2023-06-26  2568.649902  2585.310059  2562.030029  2582.199951  2582.199951
 2023-06-27  2581.020020  2582.000000  2568.520020  2581.389893  2581.389893
 2023-06-28  2590.520020  2590.520020  2559.459961  2564.189941  2564.189941
 2023-06-29  2564.020020  2577.689941  2550.020020  2550.020020  2550.020020

             Volume
 Date
 2020-01-02  494700
 2020-01-03  631600
 2020-01-06  592700
 2020-01-07  568200
 2020-01-08  913800
 ...            ...
 2023-06-23  526500
 2023-06-26  479200
 2023-06-27  535400
 2023-06-28  484200
 2023-06-29  604509

 [862 rows x 6 columns],
 '247540.KQ':                 Open      High       Low     Close      Adj Close  Volume
 Date
 2020-01-02   13375.0   13550.0   13100.0   13250.0   13189.095703  542984
 2020-01-03   13275.0   13350.0   12800.0   12825.0   12766.049805  673012
 2020-01-06   12675.0   13025.0   12600.0   12825.0   12766.049805  547468
 2020-01-07   12950.0   13225.0   12950.0   13075.0   13014.900391  423684
 2020-01-08   13075.0   13075.0   12500.0   12500.0   12442.542969  726088
 ...              ...       ...       ...       ...            ...     ...
 2023-06-23  267000.0  269000.0  262500.0  263000.0  263000.000000  436861
 2023-06-26  263500.0  266000.0  261000.0  261500.0  261500.000000  362609
 2023-06-27  261000.0  261000.0  248000.0  254500.0  254500.000000  772954
 2023-06-28  255500.0  258000.0  242000.0  243000.0  243000.000000  909749
 2023-06-29  243000.0  247500.0  238500.0  241000.0  241000.000000  686811

 [862 rows x 6 columns]}

In [56]:
prices

                  ^KS11  247540.KQ
Date
2020-01-02  2175.169922    13250.0
2020-01-03  2176.459961    12825.0
2020-01-06  2155.070068    12825.0
2020-01-07  2175.540039    13075.0
2020-01-08  2151.310059    12500.0
...                 ...        ...
2023-06-23  2570.100098   263000.0
2023-06-26  2582.199951   261500.0
2023-06-27  2581.389893   254500.0
2023-06-28  2564.189941   243000.0
2023-06-29  2550.020020   241000.0

[862 rows x 2 columns]

In [57]:
ret

               ^KS11  247540.KQ
Date
2020-01-03  0.000593  -0.032075
2020-01-06 -0.009828   0.000000
2020-01-07  0.009499   0.019493
2020-01-08 -0.011137  -0.043977
2020-01-09  0.016334   0.110000
...              ...        ...
2023-06-23 -0.009099  -0.007547
2023-06-26  0.004708  -0.005703
2023-06-27 -0.000314  -0.026769
2023-06-28 -0.006663  -0.045187
2023-06-29 -0.005526  -0.008230

[861 rows x 2 columns]

In [58]:
import statsmodels.api as sm

In [61]:
ret['intercept'] = 1   # 절편(intercept) = 알파
reg = sm.OLS(ret[['247540.KQ']],ret[['^KS11','intercept']]).fit()  #OLS 선형회귀분석 , X 축 코스피 수익률, 인터셉트 Y축 개별주식 수익률
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              247540.KQ   R-squared:                       0.172
Model:                            OLS   Adj. R-squared:                  0.171
Method:                 Least Squares   F-statistic:                     178.6
Date:                Thu, 29 Jun 2023   Prob (F-statistic):           3.78e-37
Time:                        20:10:45   Log-Likelihood:                 1709.5
No. Observations:                 861   AIC:                            -3415.
Df Residuals:                     859   BIC:                            -3405.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
^KS11          1.1570      0.087     13.365      0.000       0.987       1.327
intercept      0.0037      0.001      3.280      0.001       0.001       0.006
==============================================================================
Omnibus:                      177.418   Durbin-Watson:                   2.024
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              886.484
Skew:                           0.846   Prob(JB):                    3.18e-193
Kurtosis:                       7.674   Cond. No.                         76.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

- R-squared = 신뢰도
- coef = 베타
- t 통계 = 절대값이 2보다 크면 통계적으로 유의함
- intercept = 초과수익률(알파)